body{
margin:0;
font-family:Poppins,Arial;
background:#eef2ff;
}



nav{

background:#312e81;
color:white;

padding:20px;

display:flex;
justify-content:space-between;

}



.hero{

display:flex;
justify-content:space-around;
align-items:center;

padding:50px;

background:white;

}


.hero img{

width:400px;

border-radius:20px;

}



.hero h1{

font-size:45px;
color:#312e81;

}



.stats{

display:flex;

justify-content:center;

gap:40px;

padding:30px;

}



.stats div{

background:white;

padding:25px;

border-radius:20px;

width:150px;

box-shadow:0 5px 15px #aaa;

}



.container{

padding:40px;

text-align:center;

}



input{

padding:15px;

margin:10px;

border-radius:10px;

border:1px solid gray;

}



button{

background:#4f46e5;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}



.cards{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:25px;

margin-top:40px;

}



.card{

background:white;

padding:25px;

border-radius:20px;

transition:.3s;

box-shadow:0 10px 20px #aaa;

}



.card:hover{

transform:translateY(-10px);

}



.card img{

width:80px;

}



footer{

margin-top:50px;

padding:30px;

background:#312e81;

color:white;

text-align:center;

}